// Styling For Masthead Header Section
header.masthead {

    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('../img/header.jpg');
    background-position-y: -100px; 
    background-attachment: fixed;
    border-bottom: 3px solid $secondary;

    p {
        font-family: 'Roboto';
    }

    @include background-cover;

    p {
        color: $white;
        font-size: 2rem;
        text-shadow: 0px 0px 2rem black;
    }

    @media (min-width: 576px) {
        p {
            color: $white;
            font-size: 3rem;
            text-shadow: 0px 0px 2rem black;
        }
    }

    @media (min-width: 768px) {
        p {
            color: $white;
            font-size: 4rem;
            text-shadow: 0px 0px 2rem black;
        }
    }

    @media (min-width: 992px) {
        height: 75vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    @media only screen and (max-device-width: 1024px) {
        background-attachment: scroll;
        background-position-y: 0px;
    }

}