// Styling For Services Main Section
main.services {
    
    color: $black;
    background: $white;
    padding-top: 5rem;
    padding-bottom: 10rem;
    
    .services-circle {
        background: $white;
        width: 112px;
        height: 112px;
        text-align: center;
        padding-top: 16px;
        margin: 0px auto;
        margin-top: -125px;
        border-radius: 100px;
    }
    
    .icon-wd {
        color: $primary;
    }
    
    .icon-dev {
        color: $quinary;
    }
    
    .icon-nl {
        color: $tertiary;
    }
    
    .icon-sm {
        color: $secondary;
    }
    
}