// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #747474 !default;
$gray-700: #42535A !default;
$gray-800: #343a40 !default;
$gray-900: #232428 !default;
$black: #0D0D0F !default;

$primary: #3D5F8F !default;
$secondary: #212C40 !default;
$tertiary: #89A4C2 !default;
$quaternary: #BECBDB !default;
$quinary: #59240E !default;